header {
    flex-flow: column nowrap;
    align-items: stretch;
}

header > h1 {
    text-align: center;
}

header > nav {
    display: none;
    flex-flow: column nowrap;
    
    align-items: stretch;
    text-align: center;
}

header > nav > a{
    margin-top: 10px;
}


#burguer {
    display: block;
    margin-top: 5px;
    padding: 5px;
    background-color: black;
    text-align: center;
}

#burguer:hover {
    background-color: white;
    color: black;
    transition-duration: 0.2s;
}